<settings>

<setting propertyKey="@Properties.appVersion" title="@Strings.AppVersionTitle">
		<settingConfig type="alphaNumeric" readonly="true" />
	</setting>
	
	<setting propertyKey="@Properties.BatProgressEnable" title="@Strings.BatProgressEnableTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.StepProgressEnable" title="@Strings.StepProgressEnableTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.SunMarkersEnable" title="@Strings.SunMarkersEnableTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.MoonEnable" title="@Strings.MoonEnableTitle">
        <settingConfig type="boolean" />
    </setting>
    
        
    <setting propertyKey="@Properties.MoveBarEnable" title="@Strings.MoveBarEnableTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.AlmMsgEnable" title="@Strings.AlmMsgEnableTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.AlmMsg" title="@Strings.AlmMsgTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.IF1</listEntry>       
            <listEntry value="2">@Strings.IF2</listEntry>  
            <listEntry value="3">@Strings.IF3</listEntry>
            <listEntry value="4">@Strings.IF4</listEntry> 
            <listEntry value="5">@Strings.IF5</listEntry>
            <listEntry value="6">@Strings.IF6</listEntry>   
        </settingConfig>
    </setting>
    
<!-- Using different method for BT indicator. Next setting down
     <setting propertyKey="@Properties.CenterDotEnable" title="@Strings.CenterDotEnableTitle">
        <settingConfig type="boolean" />
    </setting>
-->

    <setting propertyKey="@Properties.ConnectionIndicator" title="@Strings.ConnectionIndicatorTitle"
    prompt="@Strings.CIPrompt">
        <settingConfig type="list">
            <listEntry value="0">@Strings.CI0</listEntry>       
            <listEntry value="1">@Strings.CI1</listEntry>       
            <listEntry value="2">@Strings.CI2</listEntry>  
            <listEntry value="3">@Strings.CI3</listEntry>
            <listEntry value="4">@Strings.CI4</listEntry>
        </settingConfig>
    </setting>


    <setting propertyKey="@Properties.UseIcons" title="@Strings.UseIconsTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.BackgroundColor" title="@Strings.BackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>            
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>           
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.SixbitBackground" title="@Strings.SixbitBackgroundTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.BackgroundColorR" title="@Strings.BackgroundColorRTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.Color00</listEntry>
            <listEntry value="0x550000">@Strings.Color55</listEntry>        
            <listEntry value="0xAA0000">@Strings.ColorAA</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorFF</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.BackgroundColorG" title="@Strings.BackgroundColorGTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.Color00</listEntry>
            <listEntry value="0x005500">@Strings.Color55</listEntry>        
            <listEntry value="0x00AA00">@Strings.ColorAA</listEntry>
            <listEntry value="0x00FF00">@Strings.ColorFF</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.BackgroundColorB" title="@Strings.BackgroundColorBTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.Color00</listEntry>
            <listEntry value="0x000055">@Strings.Color55</listEntry>        
            <listEntry value="0x0000AA">@Strings.ColorAA</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorFF</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.ShowDigitalBackground" title="@Strings.ShowDigitalBackgroundTitle">
        <settingConfig type="boolean" />
    </setting>

        <setting propertyKey="@Properties.DigitalBackgroundColor" title="@Strings.DigitalBackgroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>            
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>


    <setting propertyKey="@Properties.ForegroundColor" title="@Strings.ForegroundColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>            
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>
    
    
    <setting propertyKey="@Properties.Numbers" title="@Strings.NumbersTitle">
        <settingConfig type="list"> 
            <listEntry value="0">@Strings.NbrNo</listEntry>
            <listEntry value="1">@Strings.NbrNo12</listEntry>              
            <listEntry value="2">@Strings.NbrFat</listEntry>
            <listEntry value="3">@Strings.NbrRace</listEntry>
            <listEntry value="4">@Strings.NbrClassic</listEntry>
            <listEntry value="5">@Strings.NbrRoman</listEntry>  
            <listEntry value="6">@Strings.NbrSimple</listEntry>          
        </settingConfig>
    </setting>
    
        <setting propertyKey="@Properties.NumbersColor" title="@Strings.NumbersColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>            
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>
    
    
            <setting propertyKey="@Properties.QuarterNumbersColor" title="@Strings.QuarterNumbersColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>            
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.markslenth" title="@Strings.markslenthTitle">
        <settingConfig type="numeric" min="0" max="5" required="true"/>
    </setting>
    
    
    
        <setting propertyKey="@Properties.MinutesColor" title="@Strings.MinutesColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>            
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>
    
    
    <setting propertyKey="@Properties.HandsForm" title="@Strings.HandsFormTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.HandsRace</listEntry>        
            <listEntry value="2">@Strings.HandsPilot</listEntry>
            <listEntry value="3">@Strings.HandsDiver</listEntry>
        	<listEntry value="4">@Strings.HandsClassic</listEntry>
        	<listEntry value="5">@Strings.HandsSimple</listEntry>
        	<listEntry value="6">@Strings.HandsFenix5like</listEntry>
        </settingConfig>
    </setting> 
    
    <setting propertyKey="@Properties.HandsColor1" title="@Strings.HandsColor1Title">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>            
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>
    
        <setting propertyKey="@Properties.HandsColor2" title="@Strings.HandsColor2Title">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>            
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.HandOutlinesEnable" title="@Strings.HandOutlinesEnableTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.HandsOutlineColor" title="@Strings.HandsOutlineColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>            
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HandsBehind" title="@Strings.HandsBehindTitle">
    	<settingConfig type="boolean" />
    </setting>
    
<!-- Changing how second hands are chosen
    <setting propertyKey="@Properties.SecHandEnable" title="@Strings.SecHandEnableTitle">
        <settingConfig type="boolean" />
    </setting>
-->    

        <setting propertyKey="@Properties.SecHandsForm" title="@Strings.SecHandsFormTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.SF0</listEntry>        
            <listEntry value="1">@Strings.SF1</listEntry>
            <listEntry value="2">@Strings.SF2</listEntry>
            <listEntry value="3">@Strings.SF3</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.SecHands1Color" title="@Strings.SecHands1ColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>            
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>
    
        <setting propertyKey="@Properties.SecHands2Color" title="@Strings.SecHands2ColorTitle">
        <settingConfig type="list">
            <listEntry value="0x000000">@Strings.ColorBlack</listEntry>        
            <listEntry value="0x555555">@Strings.ColorDarkGray</listEntry>
            <listEntry value="0xAAAAAA">@Strings.ColorLightGray</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xAA0000">@Strings.ColorDarkRed</listEntry>
            <listEntry value="0xFF5500">@Strings.ColorOrange</listEntry>
            <listEntry value="0xFFFF00">@Strings.ColorYellow</listEntry>            
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0x00AA00">@Strings.ColorDarkGreen</listEntry>
            <listEntry value="0x00AAFF">@Strings.ColorBlue</listEntry>
            <listEntry value="0x0000FF">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="0xAA00FF">@Strings.ColorPurple</listEntry>
            <listEntry value="0xFF00FF">@Strings.ColorPink</listEntry>
        </settingConfig>
    </setting>
 
     <setting propertyKey="@Properties.DigiFont" title="@Strings.DigiFontTitle">
        <settingConfig type="list"> 
            <listEntry value="1">@Strings.DFDigital</listEntry>  
            <listEntry value="2">@Strings.DFClassic</listEntry>
            <listEntry value="3">@Strings.DFSimple</listEntry>          
        </settingConfig>
    </setting>
    
        <setting propertyKey="@Properties.DateFormat" title="@Strings.DateFormatTitle">
        <settingConfig type="list">
         	<listEntry value="1">@Strings.DF1</listEntry>
            <listEntry value="2">@Strings.DF2</listEntry>
            <listEntry value="3">@Strings.DF3</listEntry>       
            <listEntry value="4">@Strings.DF4</listEntry>
            <listEntry value="5">@Strings.DF5</listEntry>
            <listEntry value="6">@Strings.DF6</listEntry>
            <listEntry value="7">@Strings.DF7</listEntry>
            <listEntry value="8">@Strings.DF8</listEntry>
        </settingConfig>
    </setting>
    
    <!-- 
     <setting propertyKey="@Properties.UpperDispEnable" title="@Strings.UpperDispEnableTitle">
        <settingConfig type="boolean" />
    </setting>
     --> 
   
    <setting propertyKey="@Properties.UDInfo" title="@Strings.UDInfoTitle">
        <settingConfig type="list">
        	<listEntry value="0">@Strings.DNone</listEntry>
        	<listEntry value="1">@Strings.DDate</listEntry>
            <listEntry value="2">@Strings.DSteps</listEntry> 
            <listEntry value="3">@Strings.DStepstogo</listEntry>       
            <listEntry value="4">@Strings.DStepGraph</listEntry>                  
            <listEntry value="5">@Strings.DBatHist</listEntry>
            <listEntry value="6">@Strings.DAltitude</listEntry>
            <listEntry value="7">@Strings.DCalories</listEntry>
            <listEntry value="8">@Strings.DDistance</listEntry>
            <listEntry value="9">@Strings.DBattery</listEntry>
            <listEntry value="10">@Strings.DDayWeek</listEntry>
            <listEntry value="11">@Strings.DSunsetRise</listEntry>
            <listEntry value="12">@Strings.DHR</listEntry>
        </settingConfig>
    </setting>
   
<!--      <setting propertyKey="@Properties.LowerDispEnable" title="@Strings.LowerDispEnableTitle">
        <settingConfig type="boolean" />
    </setting>
     -->
    
    <setting propertyKey="@Properties.LDInfo" title="@Strings.LDInfoTitle">
        <settingConfig type="list">
        	<listEntry value="0">@Strings.DNone</listEntry>
        	<listEntry value="1">@Strings.DDate</listEntry>
            <listEntry value="2">@Strings.DSteps</listEntry> 
            <listEntry value="3">@Strings.DStepstogo</listEntry>       
            <listEntry value="4">@Strings.DStepGraph</listEntry>                  
            <listEntry value="5">@Strings.DBatHist</listEntry>
            <listEntry value="6">@Strings.DAltitude</listEntry>
            <listEntry value="7">@Strings.DCalories</listEntry>
            <listEntry value="8">@Strings.DDistance</listEntry>
            <listEntry value="9">@Strings.DBattery</listEntry>
            <listEntry value="10">@Strings.DDayWeek</listEntry>
            <listEntry value="11">@Strings.DSunsetRise</listEntry>
            <listEntry value="12">@Strings.DHR</listEntry>
        </settingConfig>
    </setting>

</settings>
